/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Dec, 2018, 5:40:33 PM
    Author     : sumesh
*/

.feeds{
    width:900px;
    margin:0 auto;
}
.grid-container {
    display: grid;
    padding: 10px;
}
.gridcontainertrue {
    grid-template-columns: 200px 200px 400px;
}
.gridcontainerfalse {
    grid-template-columns: 400px 200px 200px;
}
.grid-item {                
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.grid-item img{
    max-width: 90%;
}